[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-api = "*"
flask-caching = "*"
flask-cors = "*"
gunicorn = "*"
werkzeug = "~=2.0"

[pipenv]
allow_prereleases = true
